<section id="main">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="list-group">
            <a href="./" class="list-group-item active main-color-bg">
              <span class="glyphicon glyphicon-link"></span>
              Quick Links
            </a>
            <a href="../author/" class="list-group-item"><span class="glyphicon glyphicon-home"></span> Dashboard
            </a>
            <a href="../author/articles" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span> Articles</a>
            <a href="/logout" class="list-group-item"><span class="glyphicon glyphicon-log-out"></span>
              Logout
            </a>
          </div>
        </div>