<!-- ======== FOOTER ======== -->
<footer class="footer">
    <div class="footer-left">
      <a href="../"><img src="../images/logo_light.png" /></a>
      <p>
        The collection point of world news. A one stop shop. We bring to you the current happenings around the world from esteemed writers. Make sure to read up and keep up with us through this platform that we bring to you. QuickReads
      </p>
      <div class="socials">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <ul class="footer-right">
      <li>
        <h2>Quick Links</h2>
        <ul class="box">
          <li><a href="../">Home</a></li>
          <li><a href="../categories">Categories</a></li>
          <li><a href="../bookmarks">Bookmarks</a></li>
          <li><a href="../articles">Articles</a></li>
        </ul>
      </li>
      <li>
        <h2>Categories</h2>
        <ul class="box">       
          <li><a href="../category-get/61a5ef52cfd2c64146e29d21">Business</a></li>
          <li><a href="../category-get/61a5ed39cfd2c64146e29d06">Education</a></li>
          <li><a href="../category-get/61a5ed15cfd2c64146e29d02">Health</a></li>
          <li><a href="../category-get/61a5d4bc1ef91807e6402177">Sports</a></li>
          <li><a href="../categories">More +</a></li>
        </ul>
      </li>
      <li>
        <h2>Join Us</h2>
        <ul class="box">
          <li>
            Share the story in your own words with the world. To Inspire with your writing make NewsGrid your platform to
            help bring the stories of the globe to all people.
          </li>
          <a href="../author/login" class="my-1 btn btn-secondary">Sign Up</a>
        </ul>
      </li>
    </ul>
    <div class="footer-bottom">
      <p>All Rights Reserved by &copy; QuickReads 2021</p>
    </div>
  </footer>
  
  </body>
  </html>